BINGO_SITE_DOMAIN_NAME=example.com
BINGO_JWT_SIGNER_KEY=abc123
BINGO_ADMIN_EMAIL=example@example.com
BINGO_ADMIN_PASSWORD=SuperSecret
BINGO_DB_HOSTNAME=localhost
BINGO_DB_PORT=5432
BINGO_DB_USER=example
BINGO_DB_PASSWORD=foobar
BINGO_DB_NAME=fizbuzx

